<% provide(:title, 'About') %>

<div class="container">
    <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="http://placebox.es/450">
        <h2 class="featurette-heading">Learn what you want to learn.</h2>
        <p class="lead">At MASSOLIT, we're passionate about the humanities - which is why we're putting together a load of great courses from A(belard) to Z(oroastrianism) and everything in between.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-left" src="http://placebox.es/450">
        <h2 class="featurette-heading">Learn from the best.</h2>
        <p class="lead">We're working with some of the best academics from around the world </p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="http://placebox.es/450">
        <h2 class="featurette-heading">Keep in touch.</h2>
        <p class="lead">We're currently working hard on our first few courses, which should be ready very soon. If you'd like to know a little bit more about what we're doing, or just want to say 'Hi', drop us your e-mail in the form below and we'll be sure to be touch personally (no automated e-mails, promise!)</p>
      </div>
