<% provide(:title, 'About') %>

<div class="container">
  
  <div class="featurette">
    <h2 class="featurette-heading">About MASSOLIT</h2>
      <p class="lead">MASSOLIT was founded in August 2013 to provide courses on the arts and humanities. We are bringing together academics from the world's best universities to make it happen - and hope to have our first <%= link_to "courses", courses_path %> ready for you very shortly.
    </div>

  <div class="featurette">
    <h2 class="featurette-heading">About Us</h2>
      <p class="lead">MASSOLIT was founded by Chris Tudor and Colum Elliott-Kelly. They first met during a performance of <%= link_to "Aristophanes' Clouds", "http://en.wikipedia.org/wiki/The_Clouds" %> (where Colum played the part of Socrates), before heading off to Oxford to study the humanities. After several years there, they decided to bring the humanities to a wider audience, and so MASSOLIT was born, a brand new online education provider specialising in the humanities</p>
  </div>

</div>