<% provide(:title, 'FAQs') %>

<h1>FAQs</h1>
<div class="container">
  <div class="featurette">
    <h2 class="featurette-heading">Are payments handled securely?</h2>
      <p class="lead">Yes. Our payments are handled by third-party provider <%= link_to "Stripe", "http://www.stripe.com" %>, which provides payment services for thousands of companies around the world.  We don't store any sensitive information on our site, meaning your payments are safe and secure.
  </div>
</div>