<% provide(:title, 'Welcome') %>

</div>

<div class="container">
  
  <div class="featurette">
    <h2 class="featurette-heading">Welcome to MASSOLIT</h2>
      <p class="lead">We are the first online education platform that specialises in the humanities. You can find everything here - from literature to history, philosophy to politics, and much, much more.</p>

      <center>
        <%= link_to "See Our Courses", courses_path, class: "btn btn-large btn-primary" %>
      </center>
      <br>
    </div>


  <div class="featurette">
    <h2 class="featurette-heading">Go beyond the syllabus</h2>
      <p class="lead">Our content has been designed to help students make that first step towards higher education. Content is wider ranging, and delivered in a lecture format - just as would be the case at university. <strong>If you're a student and want to see what we can offer, sign up below.</strong></p>
      <center>
        <%= link_to "Student Sign-Up", new_subscriber_registration_path(:job => 'student'), class: "btn btn-large btn-primary" %>
      </center>
      <br>
  </div>

  <div class="featurette">
    <h2 class="featurette-heading">Measurable impact</h2>
      <p class="lead">Schools that sign up to MASSOLIT gain access to our powerful analytics tools, which tell you how much your students are engaging with the content. We're able to customise any part of our analytics package to suit your needs. <strong>If you're a teacher and want to find out more, sign up below.</strong>
      </p>
      <center>
        <%= link_to "Teacher Sign-Up", new_subscriber_registration_path(:job => 'teacher'), class: "btn btn-large btn-primary" %>
      </center>
      <br>
      <br>
  </div>

  <div class="featurette">
    <h2 class="featurette-heading">Learn from the best</h2>
      <p class="lead">
        With any teaching, it's crucial that you can trust what someone is saying. That's why all our courses are designed and presented by academics from the world's very best universities.
        <strong>Want to find out more? Get in touch by using the button below.</strong></p>
        <center>
        <%= link_to "Contact Us", "mailto:chris@massolit.co.uk?Subject=MASSOLIT: Tell Me More", class: "btn btn-large btn-primary" %>
      </center>

    </div>
</div>