<% provide(:title, 'Welcome') %>

</div>

<div class="container">
  
  <div class="featurette">
    <h2 class="featurette-heading">Welcome to MASSOLIT</h2>
      <p class="lead">We are the first online education platform that specialises in the humanities. You can find everything here - from literature to history, philosophy to politics, and much, much more. 
        <%= link_to "Browse our courses", courses_path %>
      <br>
    </div>


  <div class="featurette">
    <h2 class="featurette-heading">Go beyond the syllabus...</h2>
      <p class="lead">Our content has been designed to help students make that first step towards higher education. Content is wider ranging, and delivered in a lecture format - just as would be the case at university.
      <br>

    <div class="featurette">
    <h2 class="featurette-heading">... and learn from the best</h2>
      <p class="lead">
        All our courses are designed and presented by academics from the world's very best universities, including Oxford and Cambridge.
    </div>

  <div class="featurette">
    <h2 class="featurette-heading">Powerful analytics</h2>
      <p class="lead">Schools that sign up to MASSOLIT gain access to our powerful analytics tools, which tell you how much your students are using the site and engaging with content. We're able to customise any part of our analytics package to suit your needs. If you're a teacher and want to find out more, <%= link_to "sign up", new_subscriber_registration_path(:job => 'teacher') %> or 
      <%= link_to "get in touch!", "mailto:chris@massolit.co.uk?Subject=MASSOLIT: Tell Me More" %>
      <br>
  </div>

  <br>
  <center>
  <%= link_to "Sign up now!", new_subscriber_registration_path(:job => 'student'), class: "btn btn-large btn-primary" %>
  </center>


</div>