<% provide(:title, 'Welcome') %>

<div class="container">
  
  <div class="featurette">
    <h2 class="featurette-heading">Welcome to MASSOLIT</h2>
      <p class="lead">MASSOLIT is an online education platform that specialises in the humanities. Our aim is to provide the highest-quality courses in literature, history, art, music, philosophy, politics, and much, much more</p>
    </div>

  <div class="featurette">
    <h2 class="featurette-heading">From A(belard) to Z(oroaster)</h2>
      <p class="lead">We teach everything here - including the courses you won't find anywhere else. We're the Hesiod to your Homer, the Marlowe to your Shakespeare, the Engels to your Marx...</p>
  </div>

  <div class="featurette">
    <h2 class="featurette-heading">Learn from the best</h2>
      <p class="lead">Whatever you want to learn, we think you deserve to learn from the best. That's why our courses are created by postgraduates from the world's best universities. </p>
    </div>

</div>
<br><br>
<div class="container">
      <div class="row">
        <div class="span6 offset3">
          <center>
          <%= link_to "I'm interested in learning", "learners/new", class: "btn btn-large btn-primary" %>
          <%= link_to "I'm interested in teaching", "teachers/new", class: "btn btn-large btn-primary" %>
          </center>
        </div>
      </div>
</div>