<% provide(:title, 'Our Schools') %>
<div class="container">
	<h1>Our Schools</h1>

	<p class="lead">MASSOLIT is currently running a closed beta test with ten of the best schools in London and the South East, including five of the top 100 schools in the country, one of the highest-performing IB schools in the world, and one of the best state schools in the UK. <%= link_to "See what they're saying about us", school_feedback_path %>.

</div>