<% provide(:title, 'Pricing') %>
<div class="container">
	<h1>Pricing</h1>

	<center><p class="lead">£1,995 per year (ex. VAT)</center>
	<br><br>
	<div class="span6 offset3">
		<center><p class="lead"><strong>Why choose us?</strong></center>
		<br>
		<p class="lead">- Trusted and reliable content that you won't find anywhere else ...
		<p class="lead">- ... designed and delivered by researchers and academics from the best universities in the country.
		<p class="lead">- Unlimited and unfettered access to <%= link_to "our entire course library", courses_path %>. No hidden costs or usage fees.
		<p class="lead">- Intuitive search and discovery makes it really easy for students and teachers to find courses that are relevant to them.
		<p class="lead">- <%= link_to "Bitesize videos", samplecourses_path %> are really easy to use in class or at home... or anywhere in between.
		<br><br>
		<center><p class="lead"><%= link_to "What are people saying about us?", school_feedback_path %></center>
	</div>

</div>