<% provide(:title, 'Feedback') %>
<div class="container">
<h1>What people are saying...</h1>

  <div class="featurette">

      <blockquote>
        <p class="lead"><em>"We are delighted to be part of this <strong>exciting academic project</strong> which chimes so well with my own sense of <strong>academic extension and enrichment...</strong>"</em>
        <p class="lead"><cite>- Headmaster, Independent School, London</cite>
      </blockquote>

      <br><br>

      <blockquote>
        <p class="lead"><em>"What a brilliant idea! <strong>An absolute winner!"</strong></em>
        <p class="lead"><cite>- English Teacher, State Comprehensive, London</cite>
      </blockquote>

      <br><br>

      <blockquote>
        <p class="lead"><em>"A <strong>well-targeted resource</strong> that is picking up some very big names"</em>
        <p class="lead"><cite>- English Teacher, Independent School, London</cite>
      </blockquote>

      <br><br>

      <blockquote>
        <p class="lead"><em>"The videos are a <strong>fantastic</strong> idea - interactive and easily understandable"</em>
        <p class="lead"><cite>- Head Girl, State Comprehensive, Essex</cite>
      </blockquote>
      
      <br><br>

      <blockquote>
        <p class="lead"><em>"MASSOLIT is excellent... <strong>a superb learning tool...</strong>"</em>
        <p class="lead"><cite>- Head of Department, State Grammar, Kent </cite>
      </blockquote>

      <br><br>

      <blockquote>
        <p class="lead"><em>"Initial feedback from staff and kids has been <strong>stellar</strong>"</em>
        <p class="lead"><cite>- Teacher, Independent School, Surrey </cite>
      </blockquote>

      <br>
</div>