<% provide(:title, 'Testimonials') %>
<%= content_for :body_id, "home" %>

<div id="testimonials">
    <div class="container">
      <div class="row header">
        <div class="col-md-12">
          <h3>What they're all saying...</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="testimonial pull-right">
            <div class="quote">
            <em>"I would heartily recommend MASSOLIT as a teaching product... The range, level and calibre of the courses is exceptional."</em>
            <strong>Classics Teacher, Independent School, Surrey</strong>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="testimonial pull-right">
            <div class="quote">
            <em>"We are delighted to be part of this exciting academic project which chimes so well with my own sense of academic extension and enrichment."</em>
            <strong>Headmaster, Independent School, London</strong>
            </div>
          </div>
        </div>
      </div>

      <br /><br />      

      <div class="row">
        <div class="col-sm-6">
          <div class="testimonial pull-right">
            <div class="quote">
            <em>"MASSOLIT is excellent... a superb learning tool..."</em>
            <strong>Head of Classics, State Grammar, Kent</strong>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="testimonial pull-right">
            <div class="quote">
            <em>"What a brilliant idea! An absolute winner!"</em>
            <strong>English Teacher, State Comprehensive, London</strong>
            </div>
          </div>
        </div>
      </div>

      <br /><br />

      <div class="row">
        <div class="col-sm-6">
          <div class="testimonial pull-right">
            <div class="quote">
            <em>"A well-targeted resource that is picking up some very big names."</em>
            <strong>English Teacher, Independent School, London</strong>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="testimonial pull-right">
            <div class="quote">
            <em>"The videos are a fantastic idea - interactive and easily understandable."</em>
            <strong>Head Girl, State Comprehensive, Essex</strong>
            </div>
          </div>
        </div>
      </div>

     <br /><br />
      
      <div class="row">
        <div class="col-sm-6">
          <div class="testimonial pull-right">
            <div class="quote">
            <em>"Initial feedback from staff and kids has been stellar."</em>
            <strong>Classics Teacher, Independent School, Surrey</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>