<div class="form-group">
	<%= f.input :school_id, :label => "School:", :collection => School.all, :selected => School.first, input_html: { class: 'form-control' }, :prompt => "[Please select]", :hint => "If your school is not listed here, #{link_to 'please let us know', contact_path} so we can set you up with a free trial." %>
</div>

