<% provide(:title, 'Edit User') %>
<div class="container">

<h1>Update Account</h1>

<% if subscriber_signed_in? %>
	<% user_type = 'subscriber' %>
<% elsif user_signed_in? %>
	<% user_type = 'topaz' %>
<% end %>

<%= render :partial => "#{user_type.underscore}_edit_fields" %>

</div>