<h2>Sign up</h2>

<% content_for :head do %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
<% end %>

<% user_type = params[:plan] || 'subscriber' %>
<% user_type %>

<%= render :partial => "#{user_type.underscore}_new_fields" %>