<% provide(:title, @user.name) %>
<div class="container">
  <h1>
    <%= @user.name %>
  </h1>

    <center>
      <br><%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-large btn-primary" %>
    </center>

</div>