<% @user ||= current_user %>
<div class="stats">
  <a href="<%= studying_user_path(@user) %>">
    <strong id="studied_courses" class="stat">
      <%= @user.studied_courses.count %>
    </strong>
    Courses taken
  </a>
</div>