<h1>Podcasts </h1>
<p> I see you've been listening to these podcasts...</p>

<ul class="tracks">
	<%= @tracks.each do |track| %>
	<% if track.last["Podcast"] == true %>
	<li>
		<strong><%= track.last["Name"].titleize %></strong>
	</li>
	<% end %>
	<% end %>
</ul>
