<% provide(:title, 'All learners') %>
<div class="container">
<h1>All learners</h1>

<ul class="learners">
  <% @learners.each do |learner| %>
    <li>
      <%= link_to learner.email, learner %>
    </li>
  <% end %>
</ul>

</div>