<% provide(:title, 'Utopia') %>

<div class="container">
<div class="span6 offset3">

<br>
<br>
	<h3>We're really sorry, but the page you are trying to view cannot be found</h3>
<br>

<p class="body">If you typed in the address, try double-checking the spelling.</p>
<p class="body">If you followed a link from elsewhere, <%= link_to "please let us know", "mailto:chris@massolit.co.uk?Subject=404" %>. Make sure to tell us where you came from and what you were looking for, and we'll do our best to fix it.
<p class="body">Otherwise, feel free to <%= link_to "browse our courses", courses_path %> or click the button below to go back to the home page.
<br>
<br>

<center>
	<%= link_to "Back to Home Page", root_path, class: "btn btn-large btn-primary" %>
</center>

</div>
</div>