<% provide(:title, 'Et Tu, Brute') %>

<div class="container">
<div class="span6 offset3">

<br>
<br>
	<h3>We're really sorry, but this page isn't loading properly.</h3>
<br>

<p class="body">This is most likely a problem our end, but it might be worth reloading the page just in case.</p>
<p class="body">If this doesn't work, it would be great if you could <%= link_to "tell us what page you were trying to get to", "https://www.surveymonkey.com/s/HQH5ZG7" %> so we can check the logs and see what went wrong.</p>
<p class="body">Otherwise, the button below will take you back to the home page.</p>
<br>

<center>
	<%= link_to "Back to Home Page", root_path, class: "btn btn-large btn-primary" %>
</center>

</div>
</div>