<% provide(:title, 'Utopia') %>

<div class="container">
<div class="span6 offset3">

<h1>404 Error: Welcome to Utopia!</h1>
<p class="body">In 1516, Thomas More published 'Utopia', an account (in Latin) of a fictional island society and its religious, social, and political customs.  The word 'Utopia' itself comes from the Greek meaning 'no place', making it perfect for a 404 page.</p>
<p class="body">You are in 'Utopia'. Stay here for as long as you like, but if you did want to go home, you can click the button below.</p>

<%= link_to "Back to Home Page", root_path, class: "btn btn-large btn-primary" %>

</div>
</div>
