<% provide(:title, 'Add Lecture') %>
<div class="container">
	<h1>Add Lecture (Stage 1 of 2)</h1>
		<div class="span8 offset2">
		<p class="body">Note: Lectures are created in two stages. On this page, a video is uploaded to Amazon S3. On the next page (which you will be redirected to automatically) that video is linked to a lecture title, description, and - most importantly - to a parent course.</p>
		<br>

		<center><h3>Video Uploader</h3>
		<br>
		<%= direct_upload_form_for @videouploader do |f| %>
        	<p><%= f.file_field :video %></p>
        	<p><%= f.submit "Upload video", :class => "btn btn-large btn-primary" %></p>
        <% end %>
        </center>
     </div>
</div>