<div class="container">
  <div class="media">
    <div class="pull-left">
      <%= image_tag @lesson.lessonimage_url.to_s, :size => "250x250" %>
    </div>
    <div class="span7">
      <h3 class="media-heading"><%= @lesson.title %></h3>
      <p><%= @lesson.lessondescription %></p>
    </div>
  </div>
</div>