<div class="row">
  <aside class="span4">
    <section>
      <h1>
		  <%= @course.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
  	<%= render 'study_form' %>
  </div>
</div>