<h2>My Courses</h2>

<% if @courses.any? %>
    <ul class="courselist">
    <% @courses.each do |course| %>
    <li class="span7">

      	<div class="span2">
      		<%= image_tag course.avatar_url.to_s, :size => "120x120" %>
      	</div>

      	<div class="span4">
        	<h3><%= link_to course.name, course %></h3>
        	<p><%= link_to course.provider.name, course.provider %></p>
    	</div>

    </li>
    <% end %>
  </ul>
  <% else %>
<% end %>