<footer class="footer">
  <small>
    Welcome to the <a href="http://www.massolit.co.uk">MASSOLIT</a>
  </small>
  <nav>
    <ul>
      <li><a href="http://www.massolit.co.uk">Home</a></li>
    </ul>
  </nav>
</footer>